<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Crop Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="img">
        </div>
        <div class="navbar-right">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('nav') }}">About Us</a>
<a href="{{ url_for('nav') }}">Contact Us</a>

        </div>
    </nav>

    <main>
        <section id="about">
            <h2>About Us</h2>
            <p>
Who We Are<br>

At Smart Crop Recommender, we believe in the transformative power of technology to improve agriculture. Our mission is to empower farmers with actionable insights, enabling them to make informed decisions and maximize crop yields with minimal environmental impact.
<br>
<br>
What We Do
<br>
We provide a simple yet intelligent platform that analyzes soil and weather data to recommend the most suitable crops for your fields. By bridging the gap between traditional farming and modern technology, we aim to make agriculture more efficient, productive, and sustainable.
<br><br>
Our Vision<br>

To revolutionize farming practices by integrating advanced technology into the agricultural decision-making process, ultimately ensuring food security and sustainability.
</p>
        </section>


        <section id="contact">
            <h2>Contact Us</h2>
            <p>If you have any questions, feel free to reach out!</p>
<a href= "mailto: 21491A05P0@qiscet.edu.in"> ShaikSameer@email.com </a>
<br>
<p>Qis College Of Engineering and Technology</p>
        </section>
<a href="index.html"><h3>Go Back<h3></a>
    </main>
</body>
</html>
